@{
    var fileGuid = ViewData["fileGuid"];
    var filePath = "/uploads/" + fileGuid;
    List<Preset> presets = ViewData["presets"] != null ? (List<Preset>)ViewData["presets"] : new List<Preset>();
    Preset? selectedPreset = ViewData["selectedPreset"] != null ? (Preset)ViewData["selectedPreset"] : null;
    (string name, int min, int max, double value)[] sliders = [
        ("Brightness", 0, 2, 1.0),
        ("Contrast", 0, 2, 1.0),
        ("Saturation", 0, 2, 1.0),
        ("Grayscale", 0, 1, 0.0),
        ("Temperature", -1, 1, 0.0),
        ("Tint", -1, 1, 0.0),
        ("Grain", 0, 3, 0.0),
        ("Vignette", 0, 2, 0.0)
    ];
}

<div class="container">
    <div id="addPresetForm">
        <div class="addPresetFormBackground">
            <div class="addPresetFormHolder">
                <form asp-action="AddPreset" asp-controller="Preset" method="post" style="display: flex; flex-direction: column; justify-content: center; padding: 5%; gap: 2vh;">
                    <div style="display: flex; justify-content: space-between; margin: 0% 10% 0% 10%;">
                        <h1>Add preset</h1>
                        <h1 id="closeAddPresetForm" onclick="toggleAddPresetForm(false)">x</h1>
                    </div>

                    <input type="text" name="Name" id="Name" class="presetNameInput" placeholder="Preset name" />

                    <div class="slidersPresetsHolder">
                        @foreach (var slider in sliders) 
                        {
                            <div class="sliderPresetHolder">
                                <label id="@($"{slider.name}PresetLabel")">@slider.name: @slider.value</label>
                                <input type="range" min="@slider.min" max="@slider.max" value="@slider.value" step="0.01" name="@slider.name"
                                    id="@($"{slider.name}Preset")" readonly />
                            </div>
                        }
                    </div>

                    <input type="hidden" id="fileName" name="fileName" value="@filePath" />
                    <input type="submit" class="slidersFormButton" value="Add preset" />
                </form>
            </div>
        </div>
    </div>

    <div class="editPresetForm">
        <div class="editPresetFormBackground">
            <div class="editPresetFormHolder">
                <form asp-action="EditPreset" asp-controller="Preset" method="post" style="display: flex; flex-direction: column; justify-content: center; padding: 5%; gap: 2vh;">
                    <div style="display: flex; justify-content: space-between; margin: 0% 10% 0% 10%;">
                        <h1>Edit preset</h1>
                        <h1 class="closeEditPresetForm">x</h1>
                    </div>

                    <input type="text" name="Name" id="NamePresetEdit" class="presetNameInput" placeholder="Preset name" />
                    <input type="number" name="Id" id="EditPresetId" readonly style="visibility: hidden;" />

                    <div class="slidersPresetsHolder">
                        @foreach(var slider in sliders) 
                        {
                            <div class="sliderPresetHolder">
                                <label id="@($"{slider.name}EditPresetLabel")">@slider.name: @slider.value</label>
                                <input type="range" min="@slider.min" max="@slider.max" value="@slider.value" step="0.01" name="@slider.name" id="@($"{slider.name}PresetEdit")" />
                            </div>
                        }
                    </div>

                    <input type="text" readonly id="fileName" name="fileName" value="@filePath" hidden />
                    <input type="submit" class="slidersFormButton" value="Edit preset" />
                </form>
            </div>
        </div>
    </div>


    <div id="presetsHolder">
        <button class="presetButton" onclick="togglePresetMenu(true)">Presets</button>
        <div id="menuShadow"></div>

        <div id="presetMenu">
            <div class="presetMenuCloseButton" onclick="togglePresetMenu(false)">x</div>
            <div class="presetsList">
                <button class="preset" id="addNewPreset" onclick="toggleAddPresetForm(true)">
                    + Add new preset
                </button>
                @foreach (var preset in presets)
                {
                    <button class="preset" onclick="location.href='@Url.Action("Index", "Edit", new { fileGuid = @fileGuid, presetId = preset.Id })'">
                        <span>@preset.Name</span>
                        <span class="presetActionButtons">
                            <span
                                onclick="location.href='@Url.Action("DeletePreset", "Preset", new { id = preset.Id, fileName = @filePath })'">Delete</span>
                        </span>
                    </button>
                }

            </div>
        </div>
    </div>
    <div class="photoContainer">
        <img id="photoUpload" src="@filePath" />
        @if (selectedPreset is not null)
        {
            <p id="selectedPresetName">Currently used preset: @selectedPreset.Name</p>
        }
    </div>

    <div class="slidersContainer">
        <form asp-action="EditPhoto" asp-controller="Edit" method="post" style="width: 100%; display: flex; justify-content: center; align-items: center;" id="uploadForm">
            <div class="slidersHolder">
                @foreach(var slider in sliders)
                {
                    <div class="sliderHolder">
                        <label id="@($"{slider.name}Label")">@slider.name: @slider.value</label>
                        <input type="range" min="@slider.min" max="@slider.max" value="@slider.value" 
                            step="0.01" name="@slider.name" id="@slider.name" onchange="updateImage()" oninput="updateLabels()"  />
                    </div>
                }

                <input type="text" readonly id="fileName" name="fileName" value="@filePath" hidden />
                <input type="submit" class="downloadButton" value="Download">
            </div>
        </form>
    </div>
</div>

<script>
    const photo = document.getElementById('photoUpload');
    const filePath = "@filePath";
    const selectedPreset = @Html.Raw(Json.Serialize(selectedPreset));

    const sliderNames = [
        'Brightness',
        'Contrast',
        'Saturation',
        'Grayscale',
        'Temperature',
        'Tint',
        'Vignette',
        'Grain'
    ];

    const connection = new signalR.HubConnectionBuilder()
        .withUrl('/ImageHub')
        .build();

    async function startSignalRConnection() {
        try {
            await connection.start();
        } catch (err) {
            setTimeout(startSignalRConnection, 5000);
        }
    }
    
    connection.on("ImageUpdated", (url) => {
        photo.src = `/${url}?t=${new Date().getTime()}`;
    });

    connection.on("ApplyPresetById", () => {
        updateLabels();
    });

    connection.on("PresetUpdateLabels", (editData) => {
        for (const slider of sliderNames) {
            document.getElementById(slider).value = editData[slider.toLowerCase()];
        }
        
        updateLabels();
        updateAddPresetForm();
    });

    connection.on("ImageError", (message) => {
        console.log("Processing error: " + message);
    });

    function updateLabels() {
        for (const slider of sliderNames) {
            let value = document.getElementById(`${slider}`).value;
            document.getElementById(`${slider}Label`).innerText = `${slider}: ${value}`;
        }
    }

    function updateAddPresetForm() {
        for (const slider of sliderNames) {
            let sliderValue = document.getElementById(`${slider}`).value;
            document.getElementById(`${slider}PresetLabel`).innerText = `${slider}: ${sliderValue}`;
            document.getElementById(`${slider}Preset`).value = sliderValue;
        }       
    }

    async function updateImage() {
        const request = {
            Brightness: parseFloat(document.getElementById("Brightness").value),
            Contrast: parseFloat(document.getElementById("Contrast").value),
            Saturation: parseFloat(document.getElementById("Saturation").value),
            Grayscale: parseFloat(document.getElementById("Grayscale").value),
            Temperature: parseFloat(document.getElementById("Temperature").value),
            Tint: parseFloat(document.getElementById("Tint").value),
            Vignette: parseFloat(document.getElementById("Vignette").value),
            Grain: parseFloat(document.getElementById("Grain").value)
        };

        showLoader();
        updateLabels();
        updateAddPresetForm();
        await connection.invoke("ApplyFilters", request, filePath);
    }

    function togglePresetMenu(toggle) {
        if (toggle) {
            document.getElementById("menuShadow").style = "visibility: visible";
            document.getElementById("presetMenu").style = "visibility: visible";
        } else {
            document.getElementById("menuShadow").style = "visibility: collapse";
            document.getElementById("presetMenu").style = "visibility: collapse";
        }
    }

    function toggleAddPresetForm(toggle) {
        if (toggle) {
            togglePresetMenu(false);
            document.getElementById("addPresetForm").style = "visibility: visible;";
        } else {
            document.getElementById("addPresetForm").style = "visibility: collapse;";
        }
    }

    function showLoader() {
        photo.src = "/loader.svg";
    }

    async function applyPreset(preset) {
        await connection.invoke("ApplyPresetById", preset, filePath);
    }

    startSignalRConnection().then(async () => {
        if (selectedPreset != null) {
            showLoader();
            await applyPreset(selectedPreset);
        }
    });
</script>
