@{
    var fileGuid = ViewData["fileGuid"];
    var filePath = "/uploads/" + fileGuid;
    List<Preset> presets = ViewData["presets"] != null ? (List<Preset>)ViewData["presets"] : new List<Preset>();
    Preset? selectedPreset = ViewData["selectedPreset"] != null ? (Preset)ViewData["selectedPreset"] : null;
    (string name, int min, int max, double value)[] sliders = [
        ("Brightness", 0, 2, 1.0),
        ("Contrast", 0, 2, 1.0),
        ("Saturation", 0, 2, 1.0),
        ("Grayscale", 0, 1, 0.0),
        ("Temperature", -1, 1, 0.0),
        ("Tint", -1, 1, 0.0),
        ("Grain", 0, 3, 0.0),
        ("Vignette", 0, 2, 0.0)
    ];
}

<div class="container">
    <div class="addPresetForm">
        <div class="addPresetFormBackground">
            <div class="addPresetFormHolder">
                <form asp-action="AddPreset" asp-controller="Preset" method="post" style="display: flex; flex-direction: column; justify-content: center; padding: 5%; gap: 2vh;">
                    <div style="display: flex; justify-content: space-between; margin: 0% 10% 0% 10%;">
                        <h1>Add preset</h1>
                        <h1 class="closeAddPresetForm">x</h1>
                    </div>

                    <input type="text" name="Name" id="Name" class="presetNameInput" placeholder="Preset name" />

                    <div class="slidersPresetsHolder">
                        @foreach (var slider in sliders) 
                        {
                            <div class="sliderPresetHolder">
                                <label id="@($"{slider.name.ToLower()}PresetLabel")">@slider.name: @slider.value</label>
                                <input type="range" min="@slider.min" max="@slider.max" value="@slider.value" step="0.01" name="@slider.name"
                                    id="@($"{slider.name}Preset")" readonly />
                            </div>
                        }
                    </div>

                    <input type="hidden" id="fileName" name="fileName" value="@filePath" />
                    <input type="submit" class="slidersFormButton" value="Add preset" />
                </form>
            </div>
        </div>
    </div>

    <div class="editPresetForm">
        <div class="editPresetFormBackground">
            <div class="editPresetFormHolder">
                <form asp-action="EditPreset" asp-controller="Preset" method="post" style="display: flex; flex-direction: column; justify-content: center; padding: 5%; gap: 2vh;">
                    <div style="display: flex; justify-content: space-between; margin: 0% 10% 0% 10%;">
                        <h1>Edit preset</h1>
                        <h1 class="closeEditPresetForm">x</h1>
                    </div>

                    <input type="text" name="Name" id="NamePresetEdit" class="presetNameInput" placeholder="Preset name" />
                    <input type="number" name="Id" id="EditPresetId" readonly style="visibility: hidden;" />

                    <div class="slidersPresetsHolder">
                        @foreach(var slider in sliders) 
                        {
                            <div class="sliderPresetHolder">
                                <label id="@($"{slider.name}EditPresetLabel")">@slider.name: @slider.value</label>
                                <input type="range" min="@slider.min" max="@slider.max" value="@slider.value" step="0.01" name="@slider.name" id="@($"{slider.name}PresetEdit")" />
                            </div>
                        }
                    </div>

                    <input type="text" readonly id="fileName" name="fileName" value="@filePath" hidden />
                    <input type="submit" class="slidersFormButton" value="Edit preset" />
                </form>
            </div>
        </div>
    </div>

    <div class="presetsHolder">
        <button class="presetButton">Presets</button>

        <div class="menuShadow"></div>

        <div class="presetMenu">
            <div class="presetMenuCloseButton">x</div>
            <div class="presetsList">
                <button class="preset" id="addNewPreset">
                    + Add new preset
                </button>
                @foreach (var preset in presets)
                {
                    <button class="preset"
                        onclick="location.href='@Url.Action("Index", "Edit", new { fileGuid = @fileGuid, presetId = preset.Id })'">
                        <span>@preset.Name</span>
                        <span class="presetActionButtons">
                            <span
                                onclick="location.href='@Url.Action("DeletePreset", "Preset", new { id = preset.Id, fileName = @filePath })'">Delete</span>
                        </span>
                    </button>
                }

            </div>
        </div>
    </div>
    <div class="photoContainer">
        <img id="photoUpload" src="@filePath" />
        @if (selectedPreset is not null)
        {
            <p id="selectedPresetName">Currently used preset: @selectedPreset.Name</p>
        }
    </div>

    <div class="slidersContainer">
        <form asp-action="EditPhoto" asp-controller="Edit" method="post" style="width: 100%; display: flex; justify-content: center; align-items: center;" id="uploadForm">
            <div class="slidersHolder">
                @foreach(var slider in sliders)
                {
                    <div class="sliderHolder">
                        <label id="@($"{slider.name.ToLower()}Label")">@slider.name: @slider.value</label>
                        <input type="range" min="@slider.min" max="@slider.max" value="@slider.value" step="0.01" name="@slider.name" id="@slider.name" />
                    </div>
                }

                <input type="text" readonly id="fileName" name="fileName" value="@filePath" hidden />
                <input type="submit" class="downloadButton" value="Download">
            </div>
        </form>
    </div>
</div>

<script>
    const photo = document.getElementById('photoUpload');
    const filePath = "@filePath";
    const selectedPresetId = @Html.Raw(Json.Serialize(selectedPreset?.Id));

    const sliders = {
        brightness: document.getElementById('Brightness'),
        contrast: document.getElementById('Contrast'),
        saturation: document.getElementById('Saturation'),
        grayscale: document.getElementById('Grayscale'),
        temperature: document.getElementById('Temperature'),
        tint: document.getElementById('Tint'),
        vignette: document.getElementById('Vignette'),
        grain: document.getElementById('Grain')
    };

    const connection = new signalR.HubConnectionBuilder()
        .withUrl('/ImageHub')
        .build();

    connection.on("ImageUpdated", (url) => {
        document.getElementById('photoUpload').src = `/${url}?t=${new Date().getTime()}`;
    });

    connection.on("PresetUpdateLabels", (editData) => {
        document.getElementById('Brightness').value = editData.brightness;
        document.getElementById('Contrast').value = editData.contrast;
        document.getElementById('Saturation').value = editData.saturation;
        document.getElementById('Grayscale').value = editData.grayscale
        document.getElementById('Temperature').value = editData.temperature;
        document.getElementById('Tint').value = editData.tint;
        document.getElementById('Vignette').value = editData.vignette;
        document.getElementById('Grain').value = editData.grain;

        updateLabels();
    });

    connection.on("ImageError", (message) => {
        console.log("Processing error: " + message);
    });

    async function startSignalRConnection() {
        try {
            await connection.start();
        } catch (err) {
            setTimeout(startSignalRConnection, 5000);
        }
    }

    function updateLabels() {
        for (const [key, slider] of Object.entries(sliders)) {
            const label = document.getElementById(`${key}Label`);
            if (label)
                label.innerText = `${key.charAt(0).toUpperCase() + key.slice(1)}: ${slider.value}`;
        }
    }

    function updatePresetLabels() {
        for (const [key, slider] of Object.entries(sliders)) {
            const label = document.getElementById(`${key}PresetLabel`);
            if (label)
                label.innerText = `${key.charAt(0).toUpperCase() + key.slice(1)}: ${slider.value}`;
        }
    }

    function updatePresetValues() {
        document.getElementById('BrightnessPreset').value = document.getElementById('Brightness').value;
        document.getElementById('ContrastPreset').value = document.getElementById('Contrast').value;
        document.getElementById('SaturationPreset').value = document.getElementById('Saturation').value;
        document.getElementById('GrayscalePreset').value = document.getElementById('Grayscale').value;
        document.getElementById('TemperaturePreset').value = document.getElementById('Temperature').value;
        document.getElementById('TintPreset').value = document.getElementById('Tint').value;
        document.getElementById('VignettePreset').value = document.getElementById('Vignette').value;
        document.getElementById('GrainPreset').value = document.getElementById('Grain').value;
    }

    async function updateFilter() {
        const request = {
            Brightness: parseFloat(sliders.brightness.value),
            Contrast: parseFloat(sliders.contrast.value),
            Saturation: parseFloat(sliders.saturation.value),
            Grayscale: parseFloat(sliders.grayscale.value),
            Temperature: parseFloat(sliders.temperature.value),
            Tint: parseFloat(sliders.tint.value),
            Vignette: parseFloat(sliders.vignette.value),
            Grain: parseFloat(sliders.grain.value)
        };

        await connection.invoke("ApplyFilters", request, filePath);
    }

    async function applyPreset(presetId) {
        await connection.invoke("ApplyPresetById", presetId, filePath);
        closePresetMenu();
    }

    // Add change listeners
    Object.values(sliders).forEach(slider => {
        slider.addEventListener('change', () => {
            updatePresetValues();
            updatePresetLabels();
            updateFilter();
        });
    });

    Object.values(sliders).forEach(slider => {
        slider.addEventListener('input', () => {
            updateLabels();
        });
    });

    document.getElementById('uploadForm').addEventListener('submit', (e) => {
        console.log(sliders);
    });

    startSignalRConnection().then(() => {
        if (selectedPresetId != null) {
            applyPreset(selectedPresetId);
        }
    });
</script>

<script>
    function openPresetMenu() {
        document.getElementsByClassName("menuShadow")[0].style = "visibility: visible";
        document.getElementsByClassName("presetMenu")[0].style = "visibility: visible";
    }

    function closePresetMenu() {
        document.getElementsByClassName("menuShadow")[0].style = "visibility: collapse";
        document.getElementsByClassName("presetMenu")[0].style = "visibility: collapse";
    }

    document.getElementsByClassName("presetButton")[0].addEventListener('click', (e) => {
        openPresetMenu();
    });

    document.getElementsByClassName("menuShadow")[0].addEventListener('click', (e) => {
        closePresetMenu();
    });

    document.getElementsByClassName("presetMenuCloseButton")[0].addEventListener('click', (e) => {
        closePresetMenu();
    });
</script>

<script>
    function closeAddPresetForm() {
        document.getElementsByClassName("addPresetForm")[0].style = "visibility: collapse;";
    }

    function setPresetSliders() {
        for (const [key, slider] of Object.entries(sliders)) {
            let sliderNameCapitalised = String(slider.name).charAt(0).toUpperCase() + String(slider.name).slice(1);
            document.getElementById(`${key}PresetLabel`).innerText = `${sliderNameCapitalised}: ${slider.value}`;
            document.getElementById(`${sliderNameCapitalised}Preset`).value = slider.value;
        }
    }

    function openAddPresetForm() {
        document.getElementsByClassName("addPresetForm")[0].style = "visibility: visible;";
    }

    document.getElementsByClassName("closeAddPresetForm")[0].addEventListener('click', (e) => {
        closeAddPresetForm();
    });

    document.getElementById("addNewPreset").addEventListener('click', (e) => {
        closePresetMenu();
        setPresetSliders();
        openAddPresetForm();
    });
</script>

<script>
    function closeEditPresetForm() {
        document.getElementsByClassName("editPresetForm")[0].style = "visibility: collapse;";
    }

    function setEditPresetSliders(brightness, contrast, saturation, grayscale, temperature, tint, grain, vignette) {
        for (const [key, slider] of Object.entries(sliders)) {
            let sliderNameCapitalised = String(slider.name).charAt(0).toUpperCase() + String(slider.name).slice(1);

            switch (sliderNameCapitalised) {
                case "Brightness":
                    document.getElementById("brightnessEditPresetLabel").innerText = `${sliderNameCapitalised}: ${brightness}`;
                    document.getElementById("BrightnessPresetEdit").value = brightness;
                    break;

                case "Contrast":
                    document.getElementById("contrastEditPresetLabel").innerText = `${sliderNameCapitalised}: ${contrast}`;
                    document.getElementById("ContrastPresetEdit").value = contrast;
                    break;

                case "Saturation":
                    document.getElementById("saturationEditPresetLabel").innerText = `${sliderNameCapitalised}: ${saturation}`;
                    document.getElementById("SaturationPresetEdit").value = saturation;
                    break;

                case "Grayscale":
                    document.getElementById("grayscaleEditPresetLabel").innerText = `${sliderNameCapitalised}: ${grayscale}`;
                    document.getElementById("GrayscalePresetEdit").value = grayscale;
                    break;

                case "Temperature":
                    document.getElementById("temperatureEditPresetLabel").innerText = `${sliderNameCapitalised}: ${temperature}`;
                    document.getElementById("TemperaturePresetEdit").value = temperature;
                    break;

                case "Tint":
                    document.getElementById("tintEditPresetLabel").innerText = `${sliderNameCapitalised}: ${tint}`;
                    document.getElementById("TintPresetEdit").value = tint;
                    break;

                case "Grain":
                    document.getElementById("grainEditPresetLabel").innerText = `${sliderNameCapitalised}: ${grain}`;
                    document.getElementById("GrainPresetEdit").value = grain;
                    break;

                case "Vignette":
                    document.getElementById("vignetteEditPresetLabel").innerText = `${sliderNameCapitalised}: ${vignette}`;
                    document.getElementById("VignettePresetEdit").value = vignette;
                    break;
            }
        }
    }

    function showEditPresetForm() {
        document.getElementsByClassName("editPresetForm")[0].style = "visibility: visible;";
    }

    function setEditedPresetId(presetId) {
        document.getElementById("EditPresetId").value = presetId;
        document.getElementById("EditPresetId").innerText = presetId;
    }

    function setEditedPresetName(presetName) {
        document.getElementById("NamePresetEdit").value = presetName;
        document.getElementById("NamePresetEdit").innerText = presetName;
    }

    document.getElementsByClassName("closeEditPresetForm")[0].addEventListener('click', (e) => {
        closeEditPresetForm();
    });

    function openEditPresetForm(presetId, presetName, brightness, contrast, saturation, grayscale, temperature, tint, grain, vignette) {
        closePresetMenu();
        setEditedPresetId(presetId);
        setEditedPresetName(presetName);
        setEditPresetSliders(brightness, contrast, saturation, grayscale, temperature, tint, grain, vignette);
        showEditPresetForm();
    }

</script>